<template>
	<view class="content">
		<view class="content-list" v-for="(item,index) in data" :key="index">
			<view class="list-text">
				<view class="list-name">
					<view class="icon"></view>
					<view class="name">{{item.name}}</view>
				</view>
				<view class="list-texts">
					{{item.text}}
				</view>
			</view>
			<view class="icon"></view>
		</view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				data:[{
					name:'这是一个名称',
					text:'这是一个很长很长的段落，段落，段落adfdsaf,这是一个很长很长的段落，段落，段落,这是一个很长很长的段落，段落，'
				}]
			}
		},
		onLoad() {

		},
		methods: {

		}
	}
</script>

<style lang="scss" scoped>
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color:rgb(241,241,241);
		width: 100%;
		height: 100%;
		position: absolute;
		.content-list{
			display: flex;
			background-color: #FFFFFF;
			flex-direction: column;
			width: 90%;
			margin: 2rpx;
			.list-text{
				display: flex;
				flex-direction: column;
				padding: 30rpx;
				width: 80%;
				.list-name{
					display: flex;
					.name{
						font-weight: 600;
						font-size: 18px;
					}
				}
				.list-texts{
					margin-top: 8px;
					font-size: 14px;
					color: $uni-text-color-grey;
				}
			}
		}
		.content-list:nth-child(1){
			border-radius: 10px 10px 0 0;
		}
		.content-list:last-child{
			border-radius: 0 0 10px 10px;
		}
	}
</style>
